body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  color: #424242; /* grey darken-3 */
}
header {
  background: #eeeeee; /* grey lighten-3 */
  border-radius: 5px;
  position: sticky; /* https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
  top: 0;
}
.header-img {
  width: 40%;
  height: 27%;
  max-width: 167px;
  padding: 2vmin 1vmin 1vmin 2vmin;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  list-style-type: none;
  align-self: flex-end;
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
}
.nav-links li {
  line-height: 50px;
  width: 33.33%;
  text-align: center;
}
.nav-links li:hover {
  background: #e0e0e0; /* grey lighten-2 */
  border-radius: 5px;
  cursor: pointer;
}
.nav-link {
  font-size:calc(1em + 1vmin);
  text-decoration: none;
  color: #616161; /* grey darken-2 */
  font-weight: bold;
}
main {
  padding: 1vmin;
}
@media (min-width: 992px) {
  body {
    margin: auto;
    width: 992px;
  }
}
